.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: transparent;
    left: 10px;
    bottom: 10px;
    opacity: 0.5;
    z-index: 9999;
    cursor: pointer;
}

#toggle{
    display: none;
    height: 26px;
    width: 26px;
}
.fa-sun,
.fa-moon{
    color: #5c5c5c;
    font-size: 35px;
    cursor: pointer;
}

.dark{
    background-color: #333;
    color: white;
    transition: all 1s ease;
}