@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

html {
    font-size: 62.5%;
    /*10px == 1rem*/
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-size: 2rem;
}

body {
    font-family: 'Secular One', sans-serif;
    font-size: 1.6rem;
    line-height: 2rem;
    transition: all 1s ease;
}

/**Globales*/
img {
    max-width: 100%;
}

.contenedor {
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
}

.t-full-width {
    width: 100%;
    box-sizing: border-box;
}

.a-full-width {
    width: 100%;
    box-sizing: border-box;
}

/*==============================================================================================================*/
/*Encabezado - header*/
/*==============================================================================================================*/
.site-header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    background: #000b31;
    padding: 1rem 0 1rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.barra {
    width: 100%;
    height: 7rem;
    max-width: 130rem;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.barra a img {
    max-width: 11rem;
    max-height: 8rem;
}

.navegacion {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.nav-1 {
    display: flex;
}

.nav-1 a {
    padding: 2rem;
}

.nav-2 {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    display: flex;
}

.cuadro {
    display: flex;
    height: 9rem;
    align-items: center;
}

.carrito {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fffefd;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

.img-carrito {
    height: 2.1rem;
}

#carrito2 {
    display: none;
}

.cuadro:hover #carrito2 {
    display: block;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;
    background-color: white;
    padding: 2rem;
    min-height: 40rem;
    min-width: 40rem;
    border-bottom: 2px solid #a5a5a5da;
    border-left: 2px solid #a5a5a5da;
}

th,
td {
    padding-right: 5rem;
    text-align: left;
    border-bottom: 1.5px solid #e1e1e1da;
}

th:first-child,
td:first-child {
    padding-left: 0;
}

th:nth-child(4) {
    padding-right: 0px;
}

th:last-child,
td:last-child {
    padding-right: 0;
}

.borrar-manga {
    background-color: red;
    border-radius: 50%;
    padding: 2px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/*==============================================================================================================*/
/**Botones*/
/*==============================================================================================================*/
.btn-login a {
    color: black !important;
}

.btn-login,
.btn-crear-cuenta {
    max-height: 4rem;
    display: flex;
    align-items: center;
    letter-spacing: 0;
    border-radius: 12px;
    padding: 8px 23px 10px;
    background-color: rgb(218, 0, 64);
}

.btn-crear-cuenta a{
    color: black;
}

.button {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 2px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}

.buttonA {
    display: inline-block;
    height: 38px;
    padding: 0px 30px;
    color: #000;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    border-radius: 6px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: rgb(218, 0, 64);
}

/*==============================================================================================================*/
/**Banner principal*/
/*==============================================================================================================*/
section .banner {
    background-image: url('../img/portada4.jpg');
    background-size: cover;
    background-position: center center;
    height: 70rem;
}

/*==============================================================================================================*/
/*Main - Listado de animes*/
/*==============================================================================================================*/
.contenido-principal {
    padding-top: 3rem;
}

.contenedor h2 {
    text-align: center;
}

.busqueda {
    position: relative;
    width: 6rem;
    height: 6rem;
    margin-bottom: 19.92px;
    background: #fff;
    border-radius: 6rem;
    border: solid 1px;
    border-color: #000000;
    transition: 0.5s;
    overflow: hidden;
}

.busqueda.activar {
    width: 36rem;
}

.busqueda .lupa {
    position: absolute;
    top: 0;
    left: 0;
    width: 6rem;
    height: 6rem;
    background: rgb(255, 255, 255);
    border-radius: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    cursor: pointer;
}

.busqueda .lupa::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border: 3px solid #000000;
    border-radius: 50%;
    transform: translate(-3px, -3px) rotate(315deg);
}

.busqueda .lupa::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 8.5px;
    border: 1px;
    background: #000000;
    transform: translate(6px, 6px) rotate(315deg);
}

.busqueda .entrada {
    position: relative;
    width: 30rem;
    height: 6rem;
    left: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.busqueda .entrada input {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 1rem 0;
    font-size: 1.9rem;
}

.limpiar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    right: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.limpiar::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(45deg);
}

.limpiar::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(315deg);
}


/*portadas-mangas*/
.lista-populares {
    min-height: 100vh;
    width: 100%;
    display: grid;
    /* grid: repeat(3, 20rem) / repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(min(18rem, 100%), 1fr));
    gap: 1rem;
}

.lista-populares .manga {
    background-color: #000b31;
    border: #000000 solid 1px;
}

/*Overlay img y descripcion*/
.image-container {
    position: relative;
    display: inline-block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.image-container:hover .overlay {
    opacity: 1;
    pointer-events: auto;
}

.description {
    color: white;
    font-size: 1.2rem;
    text-align: center;
    padding: 10px;
}

/*==============================================================================================================*/
/*Seccion del footter*/
/*==============================================================================================================*/
.footer {
    background: -webkit-linear-gradient(#000b31c9, #000b31e5, #000b31);
}

.footer,
.titulos-footer,
.lista-footer a,
.descripcion-pagina {
    color: #ffffff;
}

.footer .box3 {
    max-width: 430px;
}

.fila-footer {
    display: flex;
    justify-content: space-between;
}

.lista-footer {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.lista-footer li {
    padding-bottom: 1.5rem;
}

.icono-redes {
    color: #ffffff;
}

ul.iconos-redes {
    margin-left: -40px;
}

.iconos-redes li {
    vertical-align: top;
    display: inline;
    height: 100px;
}

.fa-facebook {
    padding: 10px 14px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.fa-facebook:hover {
    background-color: #247ae4;
}

.fa-twitter {
    padding: 10px 12px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.fa-twitter:hover {
    background-color: #00aced;
}

.fa-instagram {
    padding: 10px 14px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.fa-instagram:hover {
    background-color: #ff3087;
}

.fa-github {
    padding: 10px 14px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.fa-github:hover {
    background-color: #5a32a3;
}